<div class="MenuVips">
<img src="/images/vips.png" alt="">
<hr>
<a href="/administration/ajouterVip">Ajouter</a>
<hr>
<a href="/administration/modifierVip">Modifier</a>
<hr>
<a href="/administration/supprimerVip">Supprimer</a>
</div>
